:host {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  padding: 8px;
  background: rgba(0, 153, 204, .3);
  margin-right: 1em;
  position: relative;
}

:host.gpsOn {
  background: #09c;
}

:host> :first-child {
  text-align: left;
  flex-grow: 1;
}

:host> :nth-child(2) {
  position: absolute;
  background: #fff;
  color: #1B5165;
  font-weight: bold;
  padding: 8px;
  top: 0;
  right: 0;
}

:host> :nth-child(2).gpsOn {
  left: 0;
  color: #09c;
  right: initial;
}

:host> :last-child {
  text-align: right;
  flex-grow: 1;
}
