:host>*:not(footer) {
  margin-bottom: 3em;
}

header {
  display: flex;
}

footer {
  text-align: center;
  color: #fff2;
}

footer>span {
  font-size: 3em;
}

footer>div,
a {
  color: rgba(255, 255, 255, .5);
}

.current {
  color: #fff;
}
