<h1>
  {{title}}
</h1>
<ul *ngIf="position">
  <li>last fix: {{getTime()}}</li>
  <li>count: {{count}}</li>
  <li>accuracy: {{position.coords.accuracy}} (meters)</li>
  <li>altitude: {{position.coords.altitude}} (meters)</li>
  <li>altitudeAccuracy: {{position.coords.altitudeAccuracy}} (meters)</li>
  <li>heading: {{position.coords.heading}} (N:0 E:90 S:180 W:270)</li>
  <li>latitude: {{position.coords.latitude}}</li>
  <li>longitude: {{position.coords.longitude}}</li>
  <li>speed: {{position.coords.speed}} (meters/sec)</li>
</ul>
