:host {
    text-align: center;
}

span {
    font-size:10em;
    font-family: monospace;
}

input {
    font-size: 4em;
    color: #09c;
    width: 100%;
}

.best {
    color: green;
}
.good {
    color: orange;
}
.bad {
    color: red;
}

.fresh {
    color: green;
}
.stale {
    color: orange;
}
.rotten {
    color: red;
}
