:root {
  --link-color: #09c;

  --button-active-background:#09c;
  --button-inactive-background:#09c1;

  --button-active-border:#fff;
  --button-inactive-border:#fff1;

  --button-active-color:#fff;
  --button-inactive-color:#fff1;
}

body {
  font-family: sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
}
